@charset "utf-8";
html {
	height: 100%;
}
body {
	height: 100%;
	background: #fafafa;
	color: #585754;
	line-height: 1.6;
}
.background {
	background: url(../img/logoblur.png) no-repeat center;
	background-size: 241px 88px;
	z-index: -1;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
a {
	color: #999;
}
a:hover {
	color: #000;
}
p {
	margin-bottom: 1em;
}
h1 {
	margin: 20px 0;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 257%;
	letter-spacing: 4px;
}
h2 {
	color: #aaaaaa;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 143%;
	letter-spacing: 2px;
}
h2:before, h2:after {
	content: "―";
	display: inline-block;
	margin: 0 20px;
	-webkit-transform: scale(2, 1);
	transform: scale(2, 1);
}
.hsub {
	color: #aaaaaa;
	text-align: center;
	font-size: 57%;
	margin-bottom: 20px;
}
h3 {
	margin-bottom: 1em;
	background: #eaeaea;
	color: #aaaaaa;
	text-align: center;
	border-radius: 5px;
	font-size: 108%;
}
ul {
	list-style: none;
	padding-bottom: 1em;
}
li {
	margin-bottom: 1em;
}
ul>li {
	background: url(../img/liimg.png) no-repeat 0 .45em;
	background-size: 8px 8px;
	padding-left: 16px;
}
dl {
	padding-bottom: 1em;
}
dt {
	float: left;
	width: 100px;
	clear: both;
	color: #aaaaaa;
	margin-bottom: 1em;
}
dd {
	margin-left: 100px;
	margin-bottom: 1em;
}
.mini {
	font-size: 86%;
}
.arrow {
	width: 0;
	height: 0;
	margin: 0 auto;
	border-top: 14px solid #eaeaea;
	border-right: 22px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 22px solid transparent;
}
#container {
	position: relative;
	min-height: 100%;
}
#content {
	padding: 15px 15px 60px 15px;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	font-family: 'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
	text-align: center;
	background: #efefef;
	font-size: 72%;
	line-height: 20px;
}
#footer a {
	display: block;
	width: 50px;
	height: 25px;
	position: absolute;
	top: -25px;
	left: 50%;
	margin-left: -25px;
	background: #efefef;
	text-align: center;
	text-decoration: none;
	border-radius: 25px 25px 0 0;
	font-size: 300%;
}
#menu {
	width : 1px;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	right : 0;
	bottom : 0;
	z-index : 9999;
	-webkit-transition: background .1s;
	transition: background .1s;
}
/* ↓メニューをクリックした時画面が暗くなるやつ↓ */
#menu.active {
	width : 100%;
	background: rgba(0, 0, 0, .4);
	-webkit-transition: background .1s;
	transition: background .1s;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 10px;
	bottom: 20px;
	width: 390px;
}
#menu ul li {
	height: 29px;
	width: 51px;
	margin: 0;
	overflow: hidden;
	padding: 4px 0;
	background: none;
	text-align: right;
}
/* ↓各メニューを装飾する基本的な指定↓ */
#menu li a {
	color: #FFF;
	display: block;
}
#menu .icon {
	display: inline-block;
	font-style: normal;
	line-height: 29px;
	height: 29px;
	position: relative;
	width: 51px;
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
	background-size: 51px 29px;
	background-repeat: no-repeat;
}
.active .icon {
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
}
#menu1 .icon {
	background-image: url(../img/menu_01.png);
}
#menu2 .icon {
	background-image: url(../img/menu_02.png);
}
#menu3 .icon {
	background-image: url(../img/menu_03.png);
}
#menu4 .icon {
	background-image: url(../img/menu_04.png);
}
#menu5 .icon {
	background-image: url(../img/menu_05.png);
}
#menu6 .icon {
	background-image: url(../img/menu_06.png);
}
#menu7 .icon {
	background-image: url(../img/menu_07.png);
}
#menu8 .icon {
	background-image: url(../img/menu_08.png);
}
.active #menu1 .icon {
	-webkit-transform: rotate(-35deg);
	transform: rotate(-35deg);
}
.active #menu3 .icon {
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg);
}
.active #menu5 .icon {
	-webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
.active #menu7 .icon {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
#menubt .icon {
	width: 51px;
	height: 29px;
	border-radius: 5px;
	background: url(../img/icon_menu.png) #CCC no-repeat center;
	background-size: 30px 22px;
	cursor: pointer;
	-webkit-transform: none;
	transform: none;
}
#menu span {
	opacity: 0;
	font-size: 20px;
	line-height: 29px;
	font-family: 'Quicksand', sans-serif;
}
#menu2 .current {
	color: #e13d2f;
}
#menu3 .current {
	color: #f0b926;
}
#menu4 .current {
	color: #7bbc27;
}
#menu6 .current {
	color: #3598d5;
}
#menu7 .current {
	color: #634497;
}
/* ↓メニューをクリックしてないときは全メニューが右下で重なってる状態↓ */
#menu ul li {
	position: absolute;
	right: 0;
	bottom: 0;
	-webkit-transition: right .2s, bottom .2s;
	transition: right .2s, bottom .2s;
}
/* ↓メニューをクリックするとメニューを展開します↓ */
#menu.active ul li {
	position: absolute;
	-webkit-transition: right .2s, bottom .2s;
	transition: right .2s, bottom .2s;
	width: 160px;
}
#menu.active ul li:nth-child(1) {
	bottom: 288px;
	right: 103px;
}
#menu.active ul li:nth-child(2) {
	bottom: 259px;
	right: 83px;
}
#menu.active ul li:nth-child(3) {
	bottom: 223px;
	right: 56px;
}
#menu.active ul li:nth-child(4) {
	bottom: 186px;
	right: 36px;
}
#menu.active ul li:nth-child(5) {
	bottom: 158px;
	right: 24px;
}
#menu.active ul li:nth-child(6) {
	bottom: 134px;
	right: 16px;
}
#menu.active ul li:nth-child(7) {
	bottom: 96px;
	right: 4px;
}
#menu.active ul li:nth-child(8) {
	bottom: 59px;
	right: 0;
}
/* ↓メニュー展開時、テキストラベルの表示は CSS アニメーション↓ */
#menu.active span {
	white-space : nowrap;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-timing-function: cubic-bezier(1, 0, 0.8, 0);
	animation-timing-function: cubic-bezier(1, 0, 0.8, 0);
	-webkit-animation-name: textSlidein;
	animation-name: textSlidein;
	opacity: 1;
	position: absolute;
	right: 60px;
}
 @-webkit-keyframes textSlidein {
	from {
		right: 20px;
		opacity: 0;
	}
	to {
		right: 60px;
		opacity: 1;
	}
}
@keyframes textSlidein {
	from {
		right: 20px;
		opacity: 0;
	}
	to {
		right: 60px;
		opacity: 1;
	}
}
/* ↓メニューを開く / 閉じるボタン周り↓ */
#menu #menubt, #menu #menubt i {
	width: 51px;
	height: 51px;
	padding: 0;
}
#content.active, #footer.active, .logo.active {
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

/* top */
.top .background {
	background: url(../img/top_bg.png) repeat;
	z-index: -1;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.top #container {
	overflow:hidden;
}
.logo{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 51px;
	margin: -51px 0 0 0;
}
#scene li {
	background: none;
	padding: 0;
}
#scene img {
	display: block;
	height: 51px;
}
.scene {
	max-width: 200px;
	margin: 0 auto;
	padding: 0;
}

.layer div {
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	position: relative;
}
.layer:nth-child(1) div {
	left: -100px;
}
.layer:nth-child(2) div {
	left: -85px;
}
.layer:nth-child(3) div {
	left: -55px;
}
.layer:nth-child(4) div {
	left: -23px;
}
.layer:nth-child(5) div {
	left: 7px;
}
.layer:nth-child(6) div {
	left: 14px;
}
.layer:nth-child(7) div {
	left: 44px;
}
.layer:nth-child(8) div {
	left: 75px;
}

.swing-1 {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.swing-2 {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.swing-3 {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.swing-4 {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.swing-5 {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg); }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg); } }

@-moz-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg); }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg); } }

@-ms-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg); }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg); } }

@keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg); }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg); } }

/* profile */
.profile h1 {
	color: #f0b826;
}
.profph {
	text-align: center;
	-webkit-animation-name: zoom;
	animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes zoom {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@keyframes zoom {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
.profname {
	text-align: center;
	margin-bottom: 0;
}
.profen {
	text-align: center;
	font-size: 72%;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 20px;
}
.profbd {
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Quicksand', sans-serif;
}
.col2 {
	-webkit-column-count: 2;
	column-count: 2;
}
.proflink li {
	background: none;
	margin-left: 0;
	padding: 0;
	text-align: center;
}
/* carrier */
.carrier {
	overflow: hidden;
}
.carrtitle {
	width: 100%;
	padding-top: 15px;
}
.carrier h1 {
	color: #7bbc27;
}
.carrscroll {
	text-align: center;
	color: #7bbc27;
	font-family: 'Quicksand', sans-serif;
	font-size: 64%;
	margin-bottom: 8px;
}
.carrscroll .arrow {
	border-top-color: #7bbc27;
}
.year {
	padding: 20px 0;
	font-size: 214%;
	background: url(../img/img_timeline01.png) no-repeat center bottom, url(../img/img_timeline03.png) no-repeat center top;
	background-size: 10px 20px, 10px 20px;
}
.year:before, .year:after {
	display: none;
}
.first {
	background: url(../img/img_timeline01.png) no-repeat center bottom;
	background-size: 10px 20px;
}
.yearbg {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.timeline {
	background: url(../img/img_timeline02.png) repeat-y center;
	background-size: 10px 10px;
	height: 100%;
}
.carritem {
	width: 100%;
	text-align: center;
}
.carritem dt {
	float: none;
	width: auto;
	margin-bottom: 0;
}
.carritem dd {
	margin: 0;
}
/* library */
.library h1 {
	color: #3598d5;
}
/* contact */
.contact {
	text-align: center;
}
.contact h1 {
	color: #634497;
}
.contscroll {
	margin-bottom: 8px;
}
.contscroll .arrow {
	border-top-color: #634497;
}
address a {
	display: block;
	padding: 10px 0;
	background: #eaeaea;
	border-radius: 5px;
	border-bottom: 2px solid #dedede;
	font-family: 'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
	color: #585755;
	text-decoration: none;
}
